.red{
    background-color:red;
}
.green{
    background-color:green;
}
.blue{
    background-color:blue;
}
.yellow{
    background-color:yellow;
}
.violet{
    background-color:violet;
}
.pink{
    background-color:pink;
}


.scroll-away{
    width: 100%;
    padding:1em;
    margin-bottom:1em;
    border: 1px solid;
    background-color: gray;

}

.scroll-along{
    width: 100%;
    padding:1em;
    border: 1px solid;
    background-color: violet;
}
